/*
    Media query page for addRecipe.scss
*/

@use '../main_mq.scss';

@media only screen and (max-width: 900px) {
    nav {
        height: 195vh;
    }
    form {
        margin: 3em 2em 3em auto;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        height: 6vh;
    }
    form {
        margin: 2em 0;
        padding: 0 1em;
        width: 100%;

        div.recipe-times {
            flex-wrap: wrap;

            p {
                margin: 1em;

                input {
                    width: 100%;
                }
            }
        }
        div.ingredient-list {
            div.ingredient-row {
                flex-wrap: wrap;

                p {
                    width: 30%;

                    input[id*="Amount"], select[id*="Type"] {
                        width: 100%;
                    }
                }
            }
        }
        div.form-buttons {
            input {
                width: 30vw;
            }
        }
    }
}