/*
    Media query page for home.scss
*/


@use '../main_mq.scss';

@media only screen and (max-width: 900px) {
    div.recipes {
        width: 90%;

        section {
            display: flex;
            flex-wrap: wrap;

            a {
                width: 30%;

                img {
                    height: 15vh;
                }
            }
        }
    }
    div.announcement {
        section {
            height: 50vh;
            width: 50vw;
            margin: 0;
            
            div {
                left: 0;
                width: 45vw;
            }
        }
        > div {
            height: 50vh;
            width: 50vw;
        }
    }
}

@media only screen and (max-width: 600px) {
    div.recipes {
        margin-bottom: 15vh;

        div h2 {
            font-size: 1.5em;
        }
        section {
            a {
                width: 40vw;

                h3 {
                    font-size: 1.2em;
                }
                p {
                    font-size: 1em;
                }
            }
        }
    }
    div.announcement {
        flex-direction: column;

        section {
            width: 100vw;
            height: 70vh;

            div {
                width: 100vw;
            }
        }
        > div {
            width: 100vw;
            height: 70vh;

            img {
                width: 95vw;
            }
        }
    }
}