/*
    Stylesheet for loginPage.php
*/

@use '../main.scss';

@mixin center-everything {
    display: flex;
    justify-content: center;
    align-items: center;
}
/** Main **/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;

        img {
            height: 300px;
            margin-bottom: 2em;
        }
        h1, h2 {
            color: main.$color1;
            padding: 0.5vh;
        }
    }
}

/** Sign In **/
.login {
    @include center-everything;
    height: 100vh;
    width: 100%;
    background-image: 
        linear-gradient(main.$color1-transparent,main.$color1-transparent),
        url("../../../images/header-images/making-dough-header.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    div.homepage {
        @include center-everything;
        height: 75vh;
        width: 30vw; 

        img {
            width: 28vw;
        }
    }
    div.container {
        @include center-everything;
        height: 75vh;
        width: 30vw; 
        background-color: main.$color4;

        > div {
            @include center-everything;
            position: relative;
            border: 2px solid main.$color1;
            border-radius: 5px;
            height: 71vh;
            width: 28vw;
        }
        form {
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 30vw;
            padding: 2em 3em;
            background-color: main.$color4;

            h2 {
                font-size: 2em;
                color: main.$color1;
            }
            p {
                display: flex;
                flex-direction: column;
                margin: 0.5em 0;
            }
            div {
                display: flex;
                justify-content: space-between;
                margin: 1em 0;
            }
            label, input {
                font-size: 1.3em;
                margin: 0.1em 0;
            }
            input {
                padding: 0.3em;
            }
            input[id|="submit"], input[id|="reset"] {
                width: 45%;
                border: 2px solid main.$color1;
                border-radius: 5px;
                color: main.$color1;
            }  
            input[id|="submit"]:hover, input[id|="reset"]:hover {
                background-color: main.$color1;
                color: main.$color2;
            } 
        }
    }
}