/*
    Stylesheet for loginPage.php
*/
/*
    Stylesheet for unit_11_self_posting_form.php
*/
/** General **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E5E5E5;
}

h3 {
  margin: 1em;
}

.error-message {
  color: #dd542a;
}

/** Nav bar **/
nav {
  width: 20%;
  background-color: #1d1d1d;
  color: #e6af2e;
}
nav div.nav-container {
  height: 100vh;
}
nav div.hamburger {
  display: none;
}
nav div.hamburger p {
  height: 3px;
  width: 100%;
  background-color: #fff;
  margin: 1vh 0;
  border-radius: 5px;
}
nav p.login-title {
  position: fixed;
  font-size: 2em;
  margin: 2em 0.5em;
}
nav p.login-title a {
  text-decoration: none;
  color: #E5E5E5;
}
nav ul {
  position: fixed;
  top: 15vh;
  list-style: none;
  font-size: 1.1em;
}
nav ul li {
  margin: 2em 1.5em;
}
nav ul a {
  color: #E5E5E5;
  text-decoration: none;
  padding: 0.5em;
}
nav ul a:hover {
  color: #E6B94F;
  border: 3px solid #e6af2e;
  border-style: none none none solid;
}
nav ul a.active {
  color: #E6B94F;
  border: 3px solid #e6af2e;
  border-style: none none none solid;
}

/** Main **/
main {
  width: 80%;
}

/** Main **/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
main div img {
  height: 300px;
  margin-bottom: 2em;
}
main div h1, main div h2 {
  color: #0e402d;
  padding: 0.5vh;
}

/** Sign In **/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(14, 64, 45, 0.7607843137), rgba(14, 64, 45, 0.7607843137)), url("../../../images/header-images/making-dough-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.login div.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 30vw;
}
.login div.homepage img {
  width: 28vw;
}
.login div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 30vw;
  background-color: #E5E5E5;
}
.login div.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #0e402d;
  border-radius: 5px;
  height: 71vh;
  width: 28vw;
}
.login div.container form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 2em 3em;
  background-color: #E5E5E5;
}
.login div.container form h2 {
  font-size: 2em;
  color: #0e402d;
}
.login div.container form p {
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}
.login div.container form div {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
.login div.container form label, .login div.container form input {
  font-size: 1.3em;
  margin: 0.1em 0;
}
.login div.container form input {
  padding: 0.3em;
}
.login div.container form input[id|=submit], .login div.container form input[id|=reset] {
  width: 45%;
  border: 2px solid #0e402d;
  border-radius: 5px;
  color: #0e402d;
}
.login div.container form input[id|=submit]:hover, .login div.container form input[id|=reset]:hover {
  background-color: #0e402d;
  color: #e6af2e;
}/*# sourceMappingURL=login.css.map */