/*
    Media query page for login.scss
*/
@use '../main_mq.scss';

@media only screen and (max-width: 900px) {
    .login {
        div.homepage {
            height: 50vh;
            width: 50vw;
        }
        div.container {
            height: 50vh;
            width: 50vw;

            > div {
                height: 46vh;
                width: 48vw;
            }
            form {
                width: 50vw;
            }
        }
    }
}