/*
    Nav, header, and other elements shared by other stylesheets
*/
/** General **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E5E5;
  color: #1d1d1d;
}

/** Buttons **/
a.signin {
  color: #e6af2e;
  border: 1px solid #e6af2e;
  border-radius: 5px;
}

a.signin:hover {
  background-color: #e6af2e;
  color: #fff;
}

a.green-button {
  font-size: 1.3em;
  border-radius: 5px;
  padding: 0.5em 2em;
  color: #0e402d;
  text-decoration: none;
  border: 2px solid #0e402d;
}

a.green-button:hover {
  color: #E5E5E5;
  background-color: #0e402d;
}

a.orange-button {
  font-size: 1.3em;
  border-radius: 5px;
  padding: 0.5em 2em;
  color: #0e402d;
  text-decoration: none;
  border: 2px solid #dd542a;
}

a.orange-button:hover {
  background-color: #dd542a;
}

/** Navbar **/
nav, nav.static, nav.transforming {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 2em 3em;
  width: 100%;
  z-index: 1;
}
nav ul, nav.static ul, nav.transforming ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav ul a, nav.static ul a, nav.transforming ul a {
  font-size: 1.3em;
  color: #E5E5E5;
  padding: 0.2em 1em;
  text-decoration: none;
}
nav ul a:hover {
  color: #e6af2e;
}
nav ul a.signin {
  color: #e6af2e;
}

nav.transforming {
  height: 61vh;
  transition: height 1s linear, background-color 1s linear;
}
nav.transforming img {
  position: relative;
  height: 45vh;
  transition: height 1s linear;
}

nav.static {
  height: 13vh;
  background-color: #0e402d;
}
nav.static img {
  position: relative;
  top: 1vh;
  height: 10vh;
}

/** Header **/
header {
  width: 45%;
  margin: 10vh 0;
  text-align: center;
}
header h1 {
  font-size: 3em;
  color: #dd542a;
}
header p {
  font-size: 1.3em;
  margin-top: 1em;
}

/** Footer **/
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #E5E5E5;
  background-color: #1d1d1d;
  padding: 3em 4em;
  padding-bottom: 4em;
}
footer img {
  height: 25vh;
  margin-right: 1.5em;
}
footer section {
  display: flex;
}
footer section div {
  margin: 0 1.5em;
}
footer section h3 {
  color: #e6af2e;
  font-size: 1.8em;
  margin-bottom: 0.6em;
}
footer section p {
  font-size: 1.3em;
  line-height: 1.8em;
}
footer > div {
  width: 15vw;
}
footer > div p {
  font-size: 1.8em;
  margin-bottom: 1.5em;
}
footer > div a {
  font-size: 1.3em;
  padding: 0.5em 2em;
}

/*
    Stylesheet for ATP Home
*/
/** Navbar **/
nav {
  background-image: linear-gradient(rgba(14, 64, 45, 0.7607843137), rgba(14, 64, 45, 0.7607843137)), url("../../images/cropped-images/making-dough-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/** Recipes **/
div.recipes {
  width: 80%;
  padding-top: 5em;
}
div.recipes section, div.recipes div {
  display: flex;
  justify-content: space-between;
}
div.recipes div {
  align-items: flex-end;
  color: #0e402d;
  border-bottom: 3px solid #0e402d;
  padding: 1em;
}
div.recipes div h2 {
  font-size: 2em;
}
div.recipes section {
  margin: 2em 0;
}
div.recipes section a {
  width: 23vw;
}
div.recipes section a img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #454545;
}
div.recipes section a p {
  color: #dd542a;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 2vh;
}

/** Announcement **/
div.announcement {
  display: flex;
  margin: 8em 0;
}
div.announcement section {
  display: flex;
  align-items: center;
  position: relative;
  height: 75vh;
  width: 30vw;
  border: 2px solid #0e402d;
  border-radius: 3px;
  margin: 0 2vw;
}
div.announcement section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: -1vw;
  height: 90%;
  width: 32vw;
  background-color: #E5E5E5;
  padding: 0 3em;
}
div.announcement section div h2 {
  color: #0e402d;
  font-size: 1.8em;
  margin-bottom: 1em;
}
div.announcement section div p {
  font-size: 1.3em;
}
div.announcement section div a {
  margin-top: 2em;
  width: -moz-fit-content;
  width: fit-content;
}
div.announcement > div {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 30vw;
  border-radius: 5px;
  background-image: linear-gradient(rgba(14, 64, 45, 0.7607843137), rgba(14, 64, 45, 0.7607843137)), url("../../images/pexels-klaus-nielsen-6287234.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
div.announcement > div img {
  width: 28vw;
}/*# sourceMappingURL=home.css.map */