/*
    Nav, header, and other elements shared by other stylesheets
*/
$color1: #0e402d;
$color1-transparent: #0e402dc2;
$color2: #e6af2e;
$color2-variant: #E6B94F;
$color3: #F35628;
$color4: #E5E5E5;
$color5: #1d1d1d;

@mixin nav-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/** General **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color4;
    color: $color5;
}

/** Navbar **/
nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 2em 3em;
    height: 61vh;
    width: 100%;
    background-image: 
        linear-gradient($color1-transparent,$color1-transparent),
        url("../../images/making-dough-header.jpg");
    @include nav-image;
    transition: height 1s linear, background-color 1s linear;
    z-index: 1;

    img {
        position: relative;
        height: 45vh;
        transition: height 1s linear;
    }
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 1.3em;
            padding: 0.2em 1em;
            margin: 0 0.5em;
        }
        a:hover {
            color: $color2;
        }
        a.signin {
            color: $color2;
            border: 1px solid $color2;
            border-radius: 5px;
        }
        a.signin:hover {
            background-color: $color2;
            color: #fff;
        }
    }
}

/** Header **/
header {
    width: 45%;
    margin: 10vh 0;
    text-align: center;

    h1 {
        font-size: 3em;
        color: $color3;
    }
    p {
        font-size: 1.3em;
        margin-top: 1em;
    }
}

/** Footer **/
footer {
    display: flex;
    width: 100%;
    background-color: $color5;
}