/*
    Stylesheet for ATP Single Recipe
*/

@use 'main.scss';

/** Navbar **/
nav {
    background-image: 
        linear-gradient(main.$color1-transparent,main.$color1-transparent),
        url("../../images/header-images/making-dough-3-header.jpg");
    @include main.nav-image;
}

/** Main **/
main {
    display: flex;

    > div {
        width: 50%;
        overflow: hidden;
    }
    div.left-half {
        position: fixed;
        top: 13vh;
        left: 0;
        height: 87vh;
        box-shadow: 1px 0 5px main.$color5;

        img {
            height: 100%;
        }
        div {
            position: relative;
            bottom: 22vh;
            color: main.$color4;
            background-image: linear-gradient(to top, #1d1d1d, #1d1d1d00);
            padding: 4em 1em 2em 2em;

            p {
                color: main.$color2;
            }
        }
    }
    div.right-half {
        position: absolute;
        top: 13vh;
        right: 0;
        padding: 0 4em;

        section {
            margin: 2em 0;
            
            h2 {
                font-size: 1.8em;
                border-bottom: 2px solid main.$color1;
                padding-bottom: 0.2em;
            }
            > div {
                border: 1px solid red;
                display: flex;
                justify-content: space-between;
                margin: 1em 0;

                > div {
                    width: 50%;

                    div.adjust-size {
                        border: 1px solid main.$color1;
                        display: flex;
                    }
                }
            }
        }
    }
}