/*
    Stylesheet for ATP Single Recipe
*/

@use 'main.scss';

/** Navbar **/
nav {
    background-image: 
        linear-gradient(main.$color1-transparent,main.$color1-transparent),
        url("../../images/header-images/making-dough-3-header.jpg");
    @include main.nav-image;
}

/** Main **/
main {
    display: flex;

    > div {
        width: 50%;
        overflow: hidden;
    }
    div.left-half {
        position: fixed;
        top: 13vh;
        left: 0;
        height: 87vh;
        box-shadow: 1px 0 5px main.$color5;

        img {
            height: 100%;
        }
        div {
            width: 100%;
            position: absolute;
            bottom: 0;
            color: main.$color4;
            background-image: linear-gradient(to top, #1d1d1d, #1d1d1d00);
            padding: 4em 1em 2em 2em;

            h1 {
                text-shadow: 2px 2px 8px #1d1d1d, 2px 2px 8px #1d1d1d, 2px 2px 8px #1d1d1d;
            }
            p {
                font-size: 1.3em;
                color: main.$color2;
                text-shadow: 2px 2px 8px #1d1d1d, 2px 2px 8px #1d1d1d, 2px 2px 8px #1d1d1d;
            }
        }
    }
    div.right-half {
        position: absolute;
        top: 13vh;
        right: 0;
        padding: 0 4em;

        section {
            margin: 2em 0;
            
            h2 {
                font-size: 1.8em;
                border-bottom: 2px solid main.$color1;
                padding-bottom: 0.2em;
            }
            
            > div {
                display: flex;
                justify-content: space-between;
                margin: 1em 0;
                margin-bottom: 5em;

                > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 45%;

                    p {
                        font-size: 1.3em;
                        line-height: 1.5em;
                    }
                    > p, strong p {
                        display: flex;
                        justify-content: space-between;
                    }
                    div.adjust-size {
                        border-radius: 5px;
                        display: flex;
                        justify-content: space-evenly;
                        border: 1px solid main.$color1;
                        border-radius: 5px;

                        p {
                            text-align: center;
                            padding: 0.2em 0.5em;
                            flex: 1;
                        }
                        p:hover {
                            cursor: pointer;
                            background-color: main.$color2;
                        }
                        p.current-size {
                            background-color: main.$color2;
                        }
                        p.double {
                            border: 1px solid main.$color1;
                            border-style: none solid none solid;
                        }
                    }
                }
            }
            ul, ol {
                margin-top: 1em;
                margin-bottom: 5em;
                list-style-position: inside;
            }
            ul {
                li {
                    font-size: 1.45em;
                    line-height: 1.5em;
                }
            }
            ol {
                li {
                    font-size: 1.8em;
                    font-weight: 600;
                    margin: 2em 0;
                }
                span {
                    font-size: 0.8em;
                    line-height: 1.55em;
                    font-weight: 300;
                }
            }
        }
    }
}