/*
    Media query page for single_recipe.scss
*/
@use '../main_mq.scss';

@media only screen and (max-width: 900px) {
    main {
        flex-direction: column;

        > div {
            width: 100%;
        }
        div.left-half {
            position: relative;
            top: 10vh;
            height: 45vh;

            img {
                width: 100%;
            }
        }
        div.right-half {
            top: 55vh;
        }
    }
}

@media only screen and (max-width: 600px) {
    main {
        div.right-half {
            padding: 0 2em;

            section {
                h2 {
                    font-size: 1.5em;
                }
                > div {
                    flex-direction: column;

                    > div {
                        margin: 1em 0;
                        width: 100%;

                        div.adjust-size {
                            margin: 1em 0;
                        }
                    }
                }
            }
        }
    }
}