/*
    Nav, header, and other elements shared by other stylesheets
*/
/** General **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E5E5;
  color: #1d1d1d;
}

/** Buttons **/
a.signin {
  color: #e6af2e;
  border: 1px solid #e6af2e;
  border-radius: 5px;
}

a.signin:hover {
  background-color: #e6af2e;
  color: #fff;
}

a.green-button {
  font-size: 1.3em;
  border-radius: 5px;
  padding: 0.5em 2em;
  color: #0e402d;
  text-decoration: none;
  border: 2px solid #0e402d;
}

a.green-button:hover {
  color: #e6af2e;
  background-color: #0e402d;
}

a.orange-button {
  font-size: 1.3em;
  border-radius: 5px;
  padding: 0.5em 2em;
  color: #0e402d;
  text-decoration: none;
  border: 2px solid #dd542a;
}

a.orange-button:hover {
  background-color: #dd542a;
}

/** Navbar **/
nav, nav.static, nav.transforming {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 2em 3em;
  width: 100%;
  z-index: 1;
}
nav div.hamburger {
  display: none;
}
nav div.hamburger p {
  height: 3px;
  width: 100%;
  background-color: #fff;
  margin: 1vh 0;
  border-radius: 5px;
}
nav ul, nav.static ul, nav.transforming ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
nav ul a, nav.static ul a, nav.transforming ul a {
  font-size: 1.3em;
  color: #E5E5E5;
  padding: 0.2em 1em;
  text-decoration: none;
}
nav ul a:hover {
  color: #e6af2e;
}
nav ul a.signin {
  color: #e6af2e;
}

nav.transforming {
  height: 61vh;
  transition: height 0.5s linear;
}
nav.transforming img {
  position: relative;
  height: 45vh;
  transition: height 1s linear;
}

nav.static {
  position: fixed;
  height: 13vh;
  background-color: #0e402d;
}
nav.static img {
  position: relative;
  bottom: 3vh;
  height: 10vh;
}

/** Header **/
header {
  width: 45%;
  margin: 10vh 0;
  text-align: center;
  transition: height 1s linear;
}
header h1 {
  font-size: 3em;
  color: #dd542a;
}
header p {
  font-size: 1.3em;
  margin-top: 1em;
}

/** Footer **/
footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #E5E5E5;
  background-color: #1d1d1d;
  padding: 3em 4em;
  padding-bottom: 4em;
}
footer img {
  height: 25vh;
  margin-right: 1.5em;
}
footer section {
  display: flex;
}
footer section div {
  margin: 0 1.5em;
}
footer section h3 {
  color: #e6af2e;
  font-size: 1.8em;
  margin-bottom: 0.6em;
}
footer section p {
  font-size: 1.3em;
  line-height: 1.8em;
}
footer > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15vw;
}
footer > div p {
  font-size: 1.8em;
  margin-bottom: 1.5em;
}
footer > div a {
  font-size: 1.3em;
  padding: 0.5em 0;
  text-decoration: none;
  text-align: center;
}
footer > div span {
  display: block;
  font-size: 1.2em;
  padding-top: 1em;
}

/*
    Stylesheet for ATP Contact page
*/
/** Navbar **/
nav {
  background-image: linear-gradient(rgba(14, 64, 45, 0.7607843137), rgba(14, 64, 45, 0.7607843137)), url("../../../images/header-images/making-dough-5-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/** Main **/
main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15vh 0;
}

/** Form Div **/
div.form-container {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #0e402d;
  border-radius: 5px;
  width: 70vw;
  height: 113vh;
}
div.form-container div.confirm-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  width: 72vw;
  left: -1vw;
  padding: 3em;
  background-color: #E5E5E5;
}
div.form-container div.confirm-container h2 {
  font-size: 2em;
}
div.form-container div.confirm-container p, div.form-container div.confirm-container span {
  font-size: 1.3em;
  line-height: 1.35em;
}
div.form-container div.confirm-container div {
  display: flex;
  justify-content: center;
}
div.form-container div.confirm-container div p {
  flex: 1;
  text-align: right;
  padding-right: 1em;
}
div.form-container div.confirm-container div span {
  display: block;
  flex: 1;
}
div.form-container div.confirm-container a {
  font-size: 1.3em;
  color: #dd542a;
}
div.form-container form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  width: 72vw;
  left: -1vw;
  padding: 3em;
  background-color: #E5E5E5;
}
div.form-container form legend {
  font-size: 2em;
  color: #0e402d;
  margin-bottom: 1em;
}
div.form-container form section {
  border: 1px solid green;
  width: 50%;
}
div.form-container form div {
  top: 3em;
  display: flex;
}
div.form-container form div p {
  display: flex;
  flex-direction: column;
  flex: 1;
}
div.form-container form div p label {
  font-size: 1.2em;
  margin-bottom: 0.3em;
}
div.form-container form div p input {
  font-size: 1.1em;
  padding: 0.5em;
  margin-right: 1em;
}
div.form-container form div p label[for|=phoneNumber],
div.form-container form div p input[id|=phoneNumber] {
  display: none;
}
div.form-container form div p textarea {
  font-size: 1.4em;
  padding: 0.5em;
  resize: none;
}
div.form-container form div input[id|=submit],
div.form-container form div input[id|=reset] {
  margin: 1em 2em 1em 0;
  border: 2px solid #dd542a;
  padding: 0.5em 2em;
  color: #0e402d;
  border-radius: 5px;
  font-size: 1.3em;
}
div.form-container form div input[id|=submit]:hover,
div.form-container form div input[id|=reset]:hover {
  background-color: #dd542a;
}/*# sourceMappingURL=contact.css.map */