/*
    Stylesheet for unit_11_self_posting_form.php
*/

$color1: #0e402d;
$color1-transparent: #0e402dc2;
$color2: #e6af2e;
$color2-variant: #E6B94F;
$color3: #dd542a;
$color4: #E5E5E5;
$color5: #1d1d1d;

/** General **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: $color4;
}
h3 {
    margin: 1em;
}
.error-message {
    color: $color3;
}
/** Nav bar **/
nav {
    width: 20%;
    background-color: $color5;
    color: $color2;

    div {
        height: 100vh;
    }
    p {
        position: fixed;
        font-size: 2em;
        margin: 2em 0.5em;

        a {
            text-decoration: none;
            color: $color4;
        }
    }
    ul {
        position: fixed;
        top: 15vh;
        list-style: none;
        font-size: 1.1em;

        li {
            margin: 2em 1.5em;
        }
        a {
            color: $color4;
            text-decoration: none;
            padding: 0.5em;
        }
        a:hover {
            color: $color2-variant;
            border: 3px solid $color2;
            border-style: none none none solid;
        }
        a.active {
            color: $color2-variant;
            border: 3px solid $color2;
            border-style: none none none solid;
        }
    }
}

/** Main **/
main {
    width: 80%;
}