/*
    Stylesheet for unit_11_self_posting_form.php
*/

$color1: #DBEFBC;
$color2: #252023;
$color3: #98C1D9;
$color4: #3D5A6C;
$color5: #b9b9b9;
$color6: #fff8ef;

/** General **/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    margin: 1em;
}
.error-message {
    color: red;
}
/** Nav bar **/
nav {
    width: 20%;
    background-color: $color2;
    color: $color5;

    p {
        font-size: 2em;
        margin: 2em 0.5em;

        a {
            text-decoration: none;
            color: $color5;
        }
    }
    ul {
        list-style: none;
        font-size: 1.1em;

        li {
            margin: 2em 1.5em;
        }
        a {
            color: $color5;
            text-decoration: none;
            padding: 0.5em;
        }
        a:hover {
            color: $color1;
            border: 3px solid $color1;
            border-style: none none none solid;
        }
        a.active {
            color: $color1;
            border: 3px solid $color1;
            border-style: none none none solid;
        }
    }
}

/** Main **/
main {
    width: 80%;
    background-color: $color6;

    header {
        color: $color4;
        background-color: $color1;
        padding: 2em;
    }
}