/*
    Stylesheet for viewRecipes.php
*/

@use 'main.scss';

/** Main **/
main {
    display: flex;
    justify-content: center;

    table {
        width: 95%;
        margin: 2em 0;
        background-color: #fff;
    }
    td {
        padding: 0.5em 1em;
    }
    tr.first-row {
        font-size: 1.3em;
        background-color: main.$color2;

        td {
            padding: 1em 0.5em;
        }
    }
    td.name-col {
        width: 21%;
    }
    button {
        font-size: 1.1em;
        padding: 0.5em 0;
        width: 100%;
        border: 1px solid main.$color1;
        border-radius: 5px;
        color: main.$color1;
    }
    button:hover {
        background-color: main.$color1;
        color: main.$color2;
    }
}