/*
    Stylesheet for viewRecipes.php
*/

@use 'main.scss';

/** Main **/
main {
    display: flex;
    justify-content: center;

    table {
        width: 95%;
        margin: 2em 0;
        background-color: #fff;
    }
    td {
        padding: 0.5em;
    }
    tr.first-row {
        font-size: 1.2em;
        background-color: main.$color2;
    }
    td.name-col {
        width: 25%;
    }
    td.category-col {
        width: 20%;
    }
    button {
        font-size: 1.1em;
        padding: 0.5em;
        border: 1px solid main.$color1;
        border-radius: 5px;
        color: main.$color1;
    }
    button:hover {
        background-color: main.$color1;
        color: main.$color2;
    }
}